.text-error{
    color: red;
    margin-bottom: 5px;
}
.form-container2{
    width: 500px;
    height: auto;
    background: #29932f;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-left: 42px;
    margin: 50px auto;
}