.details-chef{
    color: black;
    font-weight: bold;
}
.text-para{
    color: black;
}
h4{
    display: inline;
}
.each_chef{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    gap: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.my-body{
    margin-top: 25px;
}
.text-center{
    text-align: center;
}
.semibold{
    font-weight: bold;
    margin-top: 25px;
    font-size: 1.5rem;
}
.food-item{
    margin: 20px;
    margin-top: 30px;
}
.head-of{
    margin: 50px;
}

@media only screen and (max-width:576px){
    
    .each_chef{
        display: grid;
        grid-template-columns: 1fr;
    }

}